.App, .mainData{
  text-align: center;
  height: 100%; overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: #253862;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.MuiPaper-root.MuiCard-root.SummaryContianer1.makeStyles-root-1.MuiPaper-elevation1.MuiPaper-rounded,
.SummaryContianer1{
  width: 40%;
  margin: 25px auto;
  text-align: center;
  background-color: #3C454D !important;
  color: white;
}

.MuiPaper-root.MuiCard-root.SummaryContianer1.jss1.MuiPaper-elevation1.MuiPaper-rounded,
.SummaryContianer1{
  width: 40%;
  margin: 25px auto;
  text-align: center;
  background-color: #3C454D !important;
  color: white;
}

h2.MuiTypography-root.Total.MuiTypography-h5 {
  color: #c0c24f;
  font-weight: bold;
}

h2.MuiTypography-root.Deaths.MuiTypography-h5 {
  color: red;
  font-weight: bold;
}

h2.MuiTypography-root.Recovered.MuiTypography-h5 {
  color: green;
  font-weight: bold;
}

.MuiTableCell-stickyHeader{
  font-weight: bold;
}

.Cases h2,.Death h2, .Recovery h2{
  font-weight: bold;
}

.Cases h2{
  color: #c0c24f;
}

.Death h2{
  color: red;
}

.Recovery h2{
  color: green;
}

.newCasesTableCell{
  background-color: wheat;
}

.newDeathsTableCell{
  background-color: red;
}

.Summary {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  float: left;
}

.MuiAutocomplete-root.MuiAutocomplete-hasClearIcon.MuiAutocomplete-hasPopupIcon {
  float: right;
  margin: 10px;
}

.Container {
  color: white;
}

.Header {
  height: 50px;
    background: #3C454D !important;
    color: white;
    font-size: 15px;
    margin: auto;
    padding: 14px;
    box-sizing: border-box;
}

/* html,body,.App{
  width: 100%;  
  height: auto;
} */

html, body, #root{
  height:100%;
  /* font-family:Arial, Helvetica, sans-serif; */
  font-size: 14px;
  /* line-height: 160%; */
  position: relative;
  overflow: auto;
  /* background: #000; */
}

div#root {
  /* background: url(./backgroundimage.PNG); */
  background-color: #30373d; /* Used if the image is unavailable */
  
  width: 100%;
  height: 100%;

}

.SummaryContianer {
  width: 100%;
  display: inline-block;
}

.summary2 {
  width: 50%;
  float: left;
}

.SummaryDilaog {
  width: 100%;
  display: inline-block;
}

.casescummary {
  float: left;
  width: 50%;
}

.countrySummary {
  float: unset;
  width: 92%;
  margin: 0 auto;
  /* display: inline-table; */
}

.comboSelect{
  width: 100%;
    height: 75px;
    /* color: white; */
    background-color: white;
}

.summaryDate {
  /* background-color: white;
  color: black;*/
  font-weight: bold; 
  /* display: inline-table; */
  width: 100%;

}

.deathssummary {
  float: left;
  width: 50%;
  margin-left: 0px;
}

.Footer {
  float: unset;
  clear: both;
  height: 40px;
  background: #3C454D !important;
  color: white;
  font-size: 15px;
  margin: auto;
  padding: 11px;
  box-sizing: border-box;
}

.blogpost {
  /* position: absolute;
  top: 68%;
  left: 4%; */
  width: 70%;
  margin: 0 auto;
  /* background: white; */
  /* border-bottom: 26px; */
  /* border-radius: 20px;
  padding: 33px;
  box-sizing: border-box; */
}

.eacharticle {
  padding-top: 20px;
    width: 47%;
    border-bottom: 1px solid lightgrey;
    float: left;
    box-sizing: border-box;
    margin: 12px;
    background-color: #adabab;
    border-radius: 7px;
}

img.blogimage {
  width: 100%;
  border-radius: 5px;
}

span.blogtype {
  display: block;
  width: fit-content;
  background-color: red;
  padding: 0 5px;
  border-radius: 2px;
}

span.blogheading {
    display: block;
    padding-bottom: 7px;
    padding-top: 6px;
    font-weight: bold;
    display: block;
    /* width: 300px; */
    text-overflow: ellipsis;
    overflow: hidden;
    height: 36px;
    color: black;
    /* max-height: 200px; */
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

span.blogdescription {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 10%; */
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.blogdetails {
  display: block;
  width: 100%;
  color: grey;
  height: 25px;
  padding-bottom: 7px;
  margin-top: 5px;
}

span.blogbyanddate {
  display: block;
  float: left;
  /* color: gainsboro; */
}

span.blogcomments {
  display: block;
  float: right;
}

span.myfeed {
  font-weight: bold;
  float: left;
  display: block;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  background: #3C454D !important;
  color: white;
}

.datePicker {
  float: right;
}

.blogsection {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.MuiTableCell-head{
  font-weight: bold !important;
}

.MuiTableCell-body a{
  color: blue;
}

@media only screen and (max-width: 600px) {
  .Summary,
  .summary2,
  .eacharticle{
    width: 100%;
  }

  .span.blogdetails{
    margin-top: 5px;
  }

  span.blogcomments{
    font-size: 12px;
  }

  span.blogbyanddate{
    font-size: 13px;
  }

  .blogpost{
    padding: 0px;
  }

  .datePicker {
    margin: 10px;
    float: none;
  }

  .eacharticle{
    margin: 12px 0;
  }
  
}